body{
    background-color: #92d3e4;
}
h1{
    color: #4c7d97;
}
h3{
    color: #9582eb;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
img{
    height: 200px;
}